<h1>Showing All Article Details</h1>
<table border="0" width="40%">
  <tr>
    <td>ID</td><td>Article</td><td>Description</td>
  </tr>
  <% @article.each do |col| %>
    <tr >
      <td align="center"><%= col.id %></td><td><%= col.title %></td><td><%= col.description %></td>
<!--    </tr>-->
<!--    <p><strong>ID: </strong> <%#= col.id %></p>-->
<!--    <p><strong>Title: </strong><%#= col.title %></p>-->
<!--    <p><strong>Description: </strong><%#= col.description %></p>-->
<!--    <hr>-->
    </tr>
  <% end %>
</table>