# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Ruby Tutorial\alpha-blog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
